.logo {
    height: 50px;
}

a:hover{
    transform: scale(1.3);
    transition: all 0.2s ease-in-out;
    text-decoration-color: white;
    text-emphasis: white;
    
}

a:link{
    color: white;
}

a.nav-link{
    color: white;
}

a.nav-link:hover{
    color: lightsteelblue;
}

#dropdown{
 background-color: transparent;   
}

