.logo {
    height: 50px;
}

a:hover{
    transform: scale(1.3);
    transition: all 0.2s ease-in-out;
    text-decoration-color: white;
    text-emphasis: white;
    
}

a:link{
    color: white;
}

a.nav-link{
    color: white;
}

a.nav-link:hover{
    color: lightsteelblue;
    transition: all ease-out;
}

a.dropdown-item{
 background-color: transparent;
 color: black; 
 border-radius: 20px;
 transition: all 0.2s ease-in-out;
}

#drop-down{
    background-color: #343a40;
}

a.dropdown-item{
    color: white;
}

button.dropdown-item{
    color: white;
}